<div class="content">
    <h1>Ciao, sono Michael!</h1>
    <!--<p>
        Sono uno studente di informatica all'Università di Trento, 
        web developer e nel tempo libero studio per diventare game developer.<br>
        Ho ideati questo sito con lo scopo iniziale di creare un curriculum online,
        dopo un po' invece ho capito che i fatti spiegano meglio di molte parole.
        Detto ciò non voglio perdere altro tempo.<br>
        La domanda principale è: Ma io cosa devo fare con questo sito?;
        l'idea è semplice: hai di fronte a te un unico sito, con diversi temi
        tutti scritti a mano.<br>
        Hai la possibilità di cambiarli con un semplice click e interagire con il sito. <br>
        Detto questo... Have fun!
    </p>-->
</div>
