@import "../scss/theme/colors.scss";
@import "../scss/theme/themes.scss";
@import "../scss/variables.scss";

.root.side-menu {
    padding-left: $side-menu-icons;
    transition: $side-menu-open-speed;
    width: 100%;
    height: 100%;

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: -1000;
        overflow: hidden;

        .bubble {
            display: none;
        }
    }

    &.active {
        padding-left: $side-menu-width;
    }

    .content {
        padding-top: 20px;
        padding-left: 20px;
        z-index: 1;
    }

    @media only screen and(max-width: $mobile-max-width) {
        &.active {
            padding-left: $side-menu-icons;
        }
    }
}

.root.light {
    .background {
        background-color: $light-background;
    }
    color: $light-secondary;
}

.root.dark {
    .background {
        background-color: $dark-background;
    }
    color: $dark-secondary;
}

.root.glassy {
    .background {
        background-color: $glassy-background;

        .bubble {
            display: block;
            background: linear-gradient(purple, lightblue);
            content: " ";
            position: absolute;
            border-radius: 50%;
            z-index: -10;

            &:nth-child(1){
                top: 100px;
                left: -50px;
                $bubble-size: 300px;
                height: $bubble-size;
                width: $bubble-size;
            }
            &:nth-child(2){
                top: 500px;
                left: 700px;
                $bubble-size: 300px;
                height: $bubble-size;
                width: $bubble-size;
            }
            &:nth-child(3){
                top: 700px;
                left: 500px;
                $bubble-size: 100px;
                height: $bubble-size;
                width: $bubble-size;
            }
        }
    }
}
