$light-background: white;
$light-primary: white;
$light-secondary: black;
$light-accent: blue;

$dark-background: #111;
$dark-primary: black;
$dark-secondary: white;
$dark-accent: white;

$glassy-background: white;
$glassy-glass: linear-gradient(45deg, rgba(255,255, 255, 0.2), rgba(255,255, 255, 0.4));
$glassy-primary: white;
$glassy-secondary: black;
$glassy-accent: purple;
$glassy-accent-secondary: lightblue;
